.btn-theme{
    height: 40px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}
.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}