/* Common styles for both web and mobile */
.card {
    max-width: 250px;
    min-height: 400px;
    max-height: 4000px;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
    .card {
        max-width: 100%;
        min-height: auto;
    }
}
