
<navbar> </navbar>
<button class="btn btn-info text-white margin-left block " routerLink="/login"> Login To Admin Dashboard </button>
<section class="featured-section">
    <div class="container-fluid">
        <div class="row ">
            <div class="text-center">
                <h2 class="text-white "> Featured Posts</h2>
                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
        </div>

       <div class="row">
          <div class="col-lg-3" *ngFor="let FeaturedPost of FeaturedPostArray " >
             <app-post-card [PostData] = 'FeaturedPost'></app-post-card>
          </div>
       </div>

    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2> Latest Posts </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>

   <div class="row">
         <div class="col-md-4 mt-3" *ngFor="let LatestPost of LatestPostArray">
             <app-post-card [PostData] = 'LatestPost'></app-post-card>
         </div>
   </div>

</section>
<subscription></subscription>
