<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center "> All Subscribers </h3>
                    <p> From Here You Can Manage Your Subscribers </p>
                    
                    <button class="btn btn-danger text-white margin-left" routerLink="/dashboard">Back To Dashboard</button>
                    
                </div>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">

                    <table class="table row-border hover" style="width: 100%; table-layout: fixed;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let subscriber of SubscribersArray; let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{subscriber.data.name}}</td>
                                <td>{{subscriber.data.email}}</td>

                                <td class="button-container">
                                    <button class="btn btn-sm btn-danger  margin-left " (click)="onDelete(subscriber.id)" > Delete </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
     </div>

</div>
